/*********************************************		@IMPORT VARIABLES
\*********************************************/
/*********************************************		COLORS
\*********************************************/
/*********************************************		FONTS
\*********************************************/
/*********************************************		@IMPORT BUTTONS
\*********************************************/
/*********************************************		MAIN STYLE
\*********************************************/
body {
  font-family: "OpenSansRegular", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  min-width: 320px;
  color: #333333;
  position: relative;
  background-color: #ffffff; }

.hidden {
  display: none; }

.wrapper {
  margin: 0 auto; }

p {
  margin: 0;
  padding: 0; }

br.sm {
  display: none; }

br.xs {
  display: none; }

form input.error {
  box-shadow: inset 0px 0px 20px 1px rgba(255, 0, 0, 0.3);
  border: 2px solid red !important; }

form input.not_error {
  box-shadow: inset 0px 0px 20px 1px rgba(100, 255, 100, 0.3);
  border: 2px solid #99FF99 !important; }

/*********************************************		@IMPORT HEADER
\*********************************************/
/*********************************************		TYPOGRAPHY
\*********************************************/
/*********************************************		SECTIONS
\*********************************************/
/*********************************************		@IMPORT FOOTER
\*********************************************/
/*********************************************		@IMPORT MEDIA
\*********************************************/
/*********************************************		Desktop First Method
\*********************************************/
/* Medium Devices, Notebooks */
/* Small Devices, Tablets */
@media only screen and (max-width: 960px) {
  .container {
    width: 720px; }
  br.sm {
    display: block; }
  br.xs {
    display: none; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 720px) {
  .container {
    width: 340px;
    overflow: hidden; }
  br.sm {
    display: none; }
  br.xs {
    display: block; }
  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    transition-property: none !important;
    /*CSS transforms*/
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    animation: none !important; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 340px) {
  .container {
    padding: 0;
    overflow: hidden;
    width: 320px; } }

/*********************************************		Mobile First Method
\*********************************************/
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
