// avaliable templates
// freelance.jade - for freelance projects
// GM - for Genuius Marketing

//change layout file name to change template
extends ../layouts/GM.jade

block title
	title Main Page

block content
	//- variables

	//- Content code

	// SECTION 1

