// avaliable templates
// freelance.jade - for freelance projects
// GM - for Genuius Marketing

//change layout file name to change template
extends ../layouts/GM.jade

block title
	title Main Page

block content
	//- variables
	include ../common/variables.jade

	//- Content code

	// SECTION 1
	include ../common/form.jade

