/*********************************************\
		COLORS
\*********************************************/
$form-label-color: #000;

/*********************************************\
		FONTS
\*********************************************/
$form-label-font: "GothamProRegular";
$form-input-font: Circe;