footer.main-footer
	//Footer code


<!-- HIDDEN ELEMENTS (MODALS) -->
.tingle-modal#politika_conf
	.modal-header
		h4.modal-title Политика конфиденциальности
	.modal-body

.tingle-modal#otkaz
	.modal-header
		h4.modal-title Отказ от ответсвенности
	.modal-body

.tingle-modal#soglasie
	.modal-header
		h4.modal-title Согласие с рассылкой
	.modal-body

.tingle-modal#politika_vozvrata
	.modal-header
		h4.modal-title Политика возврата
	.modal-body

<!-- END HIDDEN ELEMENTS (MODALS) -->

<!-- build:js js/libs.min.js -->
script(src='js/wow.min.js')
script(src='js/tingle.js')
script(src='js/AnchorScroller.js')
script(src='js/cookie.js')
script(src='js/jquery.cookie.js')
script(src='js/validatorGM.js')
<!-- endbuild -->

<!-- build:js js/common.min.js -->
script(src='js/common.js')
<!-- endbuild -->
