footer.main-footer
	//Footer code
<!-- build:js js/libs.min.js -->
script(src='js/wow.min.js')
script(src='js/tingle.js')
script(src='js/AnchorScroller.js')
script(src='js/cookie.js')
script(src='js/jquery.cookie.js')
script(src='js/validatorGM.js')
<!-- endbuild -->

<!-- build:js js/common.min.js -->
script(src='js/common.js')
<!-- endbuild -->
